DeliveryStreamCustomerWinServ/Service References/Cloud/Cloud32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.8.42:8091/Cloud.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://192.168.8.42:8091/Cloud.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DeliveryStreamCloudWCF.Entities" />
  <xs:element name="CheckUserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckUserLoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserLogin1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserLogin1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckUserLogin1Result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCustomerLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCustomerLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckCustomerLoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoads">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="loadID" type="q1:guid" />
        <xs:element minOccurs="0" name="loadNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loadStatusID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="includeOrders" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeOrderItems" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoadsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DeliveryStreamCloudWCF.Entities" minOccurs="0" name="GetLoadsResult" nillable="true" type="q2:ArrayOfLoad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderCountByStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="loadID" type="q3:guid" />
        <xs:element minOccurs="0" name="orderStatusID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderCountByStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOrderCountByStatusResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoadStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="loadID" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoadStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLoadStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="orderID" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOrderStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBolHdrs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="bolHdrID" type="q6:guid" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="loadID" type="q7:guid" />
        <xs:element minOccurs="0" name="bolNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBolHdrsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DeliveryStreamCloudWCF.Entities" minOccurs="0" name="GetBolHdrsResult" nillable="true" type="q8:ArrayOfBolHdr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBolitems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="bolItemID" type="q9:guid" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="bolHdrID" type="q10:guid" />
        <xs:element minOccurs="0" name="SysTrxNo" type="xs:decimal" />
        <xs:element minOccurs="0" name="sysTrxLine" type="xs:int" />
        <xs:element minOccurs="0" name="componentNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBolitemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DeliveryStreamCloudWCF.Entities" minOccurs="0" name="GetBolitemsResult" nillable="true" type="q11:ArrayOfBolitem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="orderItemID" type="q12:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DeliveryStreamCloudWCF.Entities" minOccurs="0" name="GetDeliveryDetailsResult" nillable="true" type="q13:ArrayOfDeliveryDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderFrts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="orderID" type="q14:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderFrtsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DeliveryStreamCloudWCF.Entities" minOccurs="0" name="GetOrderFrtsResult" nillable="true" type="q15:ArrayOfOrderFrt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGPSHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGPSHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGPSHistoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLoadStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="loadID" type="q16:guid" />
        <xs:element minOccurs="0" name="loadStatusID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLoadStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLoadStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="loadID" type="q17:guid" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="orderID" type="q18:guid" />
        <xs:element minOccurs="0" name="orderStatusID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateOrderStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDriver">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="driverID" type="xs:int" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDriverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDriverResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VehicleID" type="xs:int" />
        <xs:element minOccurs="0" name="VehicleCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateVehicleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLoad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DeliveryStreamCloudWCF.Entities" minOccurs="0" name="load" nillable="true" type="q19:Load" />
        <xs:element minOccurs="0" name="vehicleCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLoadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLoadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShipmentDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="loadID" type="q20:guid" />
        <xs:element minOccurs="0" name="bolNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bolDateTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sysTrxNo" type="xs:decimal" />
        <xs:element minOccurs="0" name="sysTrxLine" type="xs:int" />
        <xs:element minOccurs="0" name="componentNo" type="xs:int" />
        <xs:element minOccurs="0" name="grossQty" type="xs:decimal" />
        <xs:element minOccurs="0" name="netQty" type="xs:decimal" />
        <xs:element minOccurs="0" name="images" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="BOLWaitTime" type="xs:boolean" />
        <xs:element minOccurs="0" name="BOLWaitTime_Comment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BOLWaitTime_Start" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="BOLWaitTime_End" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShipmentDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddShipmentDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDeliveryDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="orderItemID" type="q21:guid" />
        <xs:element minOccurs="0" name="grossQty" type="xs:decimal" />
        <xs:element minOccurs="0" name="netQty" type="xs:decimal" />
        <xs:element minOccurs="0" name="delivDtTm" type="xs:dateTime" />
        <xs:element minOccurs="0" name="deviceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="beforeVolume" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="afterVolume" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDeliveryDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDeliveryDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrderFrt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OrderID" type="q22:guid" />
        <xs:element minOccurs="0" name="SiteWaitTime" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="SiteWaitTime_Comment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SiteWaitTime_Start" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="SiteWaitTime_End" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="SplitLoad" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="SplitLoad_Comment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SplitDrop" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="SplitDrop_Comment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PumpOut" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="PumpOut_Comment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Diversion" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="Diversion_Comment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MinimumLoad" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="MinimumLoad_Comment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Other" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="Other_Comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrderFrtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddOrderFrtResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>